language: android
jdk: oraclejdk8

notifications:      
  email: false 

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-26.0.0
    - android-22
    - android-25
    - extra-android-m2repository
    - extra-android-support
    - sys-img-armeabi-v7a-android-22
  licenses:
    - 'android-sdk-license.+'
    - 'google-gdk-license-.+'

before_script:
  - chmod +x gradlew
  - android list targets
  - echo no | android create avd --force -n mobiletest -t android-22 --abi armeabi-v7a
  - emulator -avd mobiletest -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - ./gradlew build
  - ./gradlew connectedCheck

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/